* {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 792px;
}
.download-btn {
  height: 58px;
  width: 228px;
  margin-top: 38px;
  font-size: 20px;
  padding: 17px 24px 17px 24px;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  opacity: 0.8;
  margin-bottom: 35px;
}
.nav-logo {
  width: 128px;
  height: 33px;
  margin-top: 50px;
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 35px;
}
.hero-section {
  background-image: url(assets/hero-bg.png);
  height: 652px;
}
.main-title {
  text-align: center;
  margin-top: 32px;
  width: 998px;
  height: 136px;
  font-size: 48px;
  font-weight: 800;
  margin: 0 auto;
  line-height: 68px;
}
.hero-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 26px;
}
.main-description {
  text-align: center;
  justify-content: center;
  width: 852px;
  height: 52px;
  margin-top: 24px;
  opacity: 0.7;
  margin: 0 auto;
}
.contact-btn {
  padding: 21px 24px 21px 24px;
  border-radius: 8px;
  border: none;
  color: white;
  background: rgb(13, 19, 33);
}
